<tbody>
    {{#each transactions}}
    <tr data-budget-transactionID="{{this.TransactionID}}">
        <td>
            <div class="dateCell displayCell">{{formattedDate this.Date}}</div>
            <div class="dateCell editCell">
                <input type="date" class="dateEditInput" value="{{formattedDate this.Date}}" />
            </div>
        </td>
        <td>
            <div class="descriptionCell displayCell">{{this.Description}}</div>
            <div class="descriptionCell editCell">
                <input type="text" class="descriptionEditInput" value="{{this.Description}}" />
            </div>
        </td>
        <td>
            <div class="categoryCell displayCell">{{this.Category.name}}</div>
            <div class="categoryCell editCell">
                <select class="categoryEditSelect">
                    {{#each ../categories}}
                    <option value="{{this.CategoryID}}">{{this.Name}}</option>
                    {{/each}}
                </select>
            </div>
        </td>
        <td>
            <div class="amountCell displayCell">{{formattedMoneyAmount this.AmountInCents}}</div>
            <div class="amountCell editCell">
                <label>$<input type="number" class="dollarEditInput numericOnly" placeholder="0" step="1" min="0" max="9999" value="{{dollarAmount this.AmountInCents}}" data-currentValue="0"/></label><label>.<input type="number" class="centEditInput" placeholder="00" step="1" min="0" max="99" value="{{centAmount this.AmountInCents}}" /></label>
            </div>
        </td>
        <td>
            <div class="buttonCell">
                <button class="transactionEditButton">Edit</button>
                <button class="transactionDeleteButton">Delete</button>
            </div>
        </td>
    </tr>
    {{/each}}
    <tr>
        <td>
            <div class="dateCell addCell">
                <input type="date" class="dateAddInput" value="" />
            </div>
        </td>
        <td>
            <div class="descriptionCell addCell">
                <input type="text" class="descriptionAddInput" value="" />
            </div>
        </td>
        <td>
            <div class="categoryCell addCell">
                <select class="categoryAddSelect">
                    {{#each categories}}
                    <option value="{{this.CategoryID}}">{{this.Name}}</option>
                    {{/each}}
                </select>
            </div>
        </td>
        <td>
            <div class="amountCell addCell">
                <label>$<input type="number" class="dollarAddInput" placeholder="0" step="1" min="0" max="9999" value="0" data-currentValue="0" /></label><label>.<input type="number" class="centAddInput" placeholder="00" step="1" min="0" max="99" value="0" /></label>
            </div>
        </td>
        <td>
            <div class="buttonCell">
                <button class="transactionAddButton">Add</button>
            </div>
        </td>
    </tr>
</tbody>