<tbody>
    {{#each transactions}}
    <tr data-budget-transactionID="{{this.TransactionID}}">
        <td>
            <div class="dateCell displayCell">{{formattedDate this.Date}}</div>
            <div class="dateCell editCell">
                <input type="date" class="dateEditInput" value="{{formattedDate this.Date}}" />
            </div>
        </td>
        <td>
            <div class="descriptionCell displayCell">{{this.Description}}</div>
            <div class="descriptionCell editCell">
                <input type="text" class="descriptionEditInput" value="{{this.Description}}" />
            </div>
        </td>
        <td>
            {{#if this.Category}}
            <div class="categoryCell displayCell">{{this.Category.name}}</div>
            {{else}}
            <div class="categoryCell displayCell">None</div>
            {{/if}}
            <div class="categoryCell editCell">
                {{> categorySelect categories=../categories }}
            </div>
        </td>
        <td>
            <div class="amountCell displayCell">{{formattedMoneyAmount this.AmountInCents}}</div>
            <div class="amountCell editCell">
                {{> moneyInput label='' amountInCents=this.AmountInCents}}
            </div>
        </td>
        <td>
            <div class="buttonCell">
                <button class="transactionEditButton">Edit</button>
                <button class="transactionDeleteButton">Delete</button>
            </div>
        </td>
    </tr>
    {{/each}}
    <tr>
        <td>
            <div class="dateCell addCell">
                <input type="date" class="dateAddInput" value="" />
            </div>
        </td>
        <td>
            <div class="descriptionCell addCell">
                <input type="text" class="descriptionAddInput" value="" />
            </div>
        </td>
        <td>
            <div class="categoryCell addCell">
                {{> categorySelect categories=categories}}
            </div>
        </td>
        <td>
            <div class="amountCell addCell">
                {{> moneyInput label='' amountInCents=0}}
            </div>
        </td>
        <td>
            <div class="buttonCell">
                <button class="transactionAddButton">Add</button>
            </div>
        </td>
    </tr>
</tbody>